<!new>
<section *ngIf="message">
  <!new>
  <h1>
  Create new company {{message.name}}
</h1>

<form (ngSubmit)="onSubmit()" class="formContainer" #companyForm="ngForm">
  <mat-form-field class="formField">
    <input matInput placeholder="Company Name"
           required
           [(ngModel)]="company.name" name="name">
  </mat-form-field>

  <mat-form-field class="formField">
    <input matInput placeholder="Email"
           required
           [(ngModel)]="company.email" name="email">
  </mat-form-field>

  <mat-form-field class="formField">
    <input matInput placeholder="Address" [(ngModel)]="company.address" name="address">
  </mat-form-field>

  <mat-form-field class="formField">
    <input matInput placeholder="Phone Number"
           [(ngModel)]="company.phone_number" name="phone_number">
  </mat-form-field>

  <mat-form-field class="formField">
    <input matInput [matDatepicker]="picker" placeholder="Start Date"
           required
           [(ngModel)]="company.start_date" name="start_date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

    <mat-form-field class="formField">
      <input type="text" placeholder="Default Currency"
             required
             matInput [formControl]="currenciesControl" [matAutocomplete]="auto"
             [(ngModel)]="company.default_currency" name="default_currency">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let currency of filteredOptions | async" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="formButton"
            type="submit" mat-raised-button color="primary"
            [disabled]="!companyForm.form.valid">Create Company</button>
</form>
</section>
