<section *ngIf="received_data.Component==ComponentName">
<p>
  Some FAQ are as follows:
</p><br>
  <p>

    How can accounting software help us?<br>
    What's the difference between cloud and desktop accounting software?<br>
    Do we need to know about accounting to use accounting software?<br>
    We seem to manage ok. Do we need accounting software?<br>
    What should we think about when choosing accounting software?<br>
    We're just starting up. Isn't accounting software overkill?<br>
    Should we get a package that does payroll, too?<br>
    How can I make sure accounting software will be right for the long-term?<br>
    Is free accounting software any good?<br>
    Should we choose software based on our industry or sector?<br>
    Who should we talk to when choosing accounting software?<br>
    What are the main benefits of using cloud accounting software?<br>
    Is it safe to put my financial data in the cloud?<br>
    Should we keep a local copy of our data, too?<br>
    What happens if our provider goes down, or our internet connection fails?<br>
    Can accounting software replace our accountant?<br>
    Will our accountant help us choose accounting software?<br>
    Will our accountant use our software too?<br>
    When is the best time to switch to accounting software?<br>
    How can I be confident the software will be kept updated as legislation changes?<br>
    Is it easy to switch to a different package?<br>
    Who in our company should be able to access our accounts?<br>
    Do we need to keep records outside of our accounting software?<br>

  </p>
</section>
