<!new>
<section *ngIf="message">
  <!new>

<p class="editHeading">
  Edit Profile as: {{message.user_name}}
</p>
<div *ngIf="show_signup_sad_path" class = "sad_path_css_for_duplicate_user">
  This user name is already taken. Please provide a different user name.
</div>

<div *ngIf="show_signup_sad_path_for_different_password" class="sad_path_css_for_different_password">
  Password not the same.
</div>

<div *ngIf="show_signup_form">
  <form (ngSubmit)="onSubmit()" class="formContainer" #signupuserForm="ngForm">
  <section class="editblocksDisabled">
    Name :<mat-form-field class="formField">
       <input matInput placeholder={{message.user_name}}

             [(ngModel)]="signupuser.signup_user_name" name="signup_user_name" value={{message.user_name}} disabled>
  </mat-form-field></section>
    <section class="editblocksDisabled">
    Email :<mat-form-field class="formField">
      <input matInput placeholder={{message.email}}

             [(ngModel)]="signupuser.signup_user_email" name="signup_user_email" value={{message.email}} disabled>
    </mat-form-field>
  </section>
    <section class="editblocks">
    Edit Password:<br> <mat-form-field class="formField">
      <input matInput placeholder="Type a New Strong Password"

             [(ngModel)]="signupuser.signup_user_password" name="signup_user_password">
    </mat-form-field><br>


    <mat-form-field class="formField">
      <input matInput placeholder="Verify your password"

             [(ngModel)]="signupuser.signup_user_verify_password" name="signup_user_verify_password">
    </mat-form-field>
    </section>
    <section class="editblocks">
    Edit Phone :<mat-form-field class="formField">
      <input matInput placeholder={{message.phone}}

             [(ngModel)]="signupuser.signup_user_phone_number" name="signup_user_phone_number">
    </mat-form-field>
    </section>
    <section class="editblocks">
    Edit Address :<mat-form-field class="formField">
      <input matInput placeholder={{message.address}}

             [(ngModel)]="signupuser.signup_user_address" name="signupuser.signup_user_adress">
    </mat-form-field>
    </section>
    <section class="EditButton">
    <button class="formButton"
            type="submit" mat-raised-button color="primary"
            [disabled]="!signupuserForm.form.valid" >Finish Editing</button></section>
  </form>

</div>
</section>


