.formContainer{
  display: flex;
  flex-direction: column;
}

.formField {
  width: 85%;
}

.formButton {
  width: fit-content;
  margin: 0.5cm 0.5cm;
  padding: .2cm .2cm;
}

.sad_path_css_for_duplicate_user{
  color: red;
  font-weight: bold;
  text-align: center;
}

.sad_path_css_for_different_password{
  color: red;
  font-weight: bold;
  text-align: center;
}
.editblocks{
  width: 95%;
  border-style: solid;
  border-width: 1px;
  margin: 0.5cm 0.5cm;
  padding: .2cm .2cm;

}
.editHeading{
  text-align: center;
  color: #007bff;
}
.editblocksDisabled{
  width: 95%;
  border-style: solid;
  border-width: 1px;
  margin: 0.5cm 0.5cm;
  padding: .2cm .2cm;
  background-color: #dae0e5;
}
.EditButton{
  margin: 0.5cm 0.5cm;
  padding: .2cm .2cm;
}
