<tree-root [nodes]="nodes" class="tree">
  <ng-template #treeNodeTemplate let-node let-index="index" class="node">
    <span [hidden]="node.data.renaming">{{ node.data.name }}</span>
    <mat-form-field [hidden]="!node.data.renaming">
      <input matInput [(ngModel)]="node.data.name" name="name" (focusout)="renamingFinished(node)"
             (keypress)="keyPressed(node, $event)">
    </mat-form-field>
    <span mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>view_headline</mat-icon>
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="renaming(node)">
        <mat-icon>edit</mat-icon>
        <span>Rename</span>
      </button>
      <button mat-menu-item (click)="addChildNode(node)">
        <mat-icon>add_box</mat-icon>
        <span>Add Child Node</span>
      </button>
      <button mat-menu-item>
        <mat-icon>add_circle</mat-icon>
        <span>Add Account</span>
      </button>
      <button mat-menu-item [disabled]="node.children">
        <mat-icon>delete_forever</mat-icon>
        <span>Delete Node</span>
      </button>
    </mat-menu>
  </ng-template>
</tree-root>