<p>
  Welcome! Since you have previously registered, you can simply Log in Below
</p>

<form (ngSubmit)="onSubmit()">
  <input matInput placeholder="User Name"
         required
         name="login_user_name"><br>
  <input matInput placeholder="User Name"
         required
         name="login_user_name"><br>

  <input matInput placeholder="E-mail Adress"
         required
         name="login_user_email"><br>

  <input matInput placeholder="Your Password"
         required
         name="login_user_password"><br>
  <button>
    Login to my account
  </button>

</form>

